In [89]:
from __future__ import print_function

In [90]:
def vol(rad):
    return (4.0/3)*(3.14)*(rad**3)

In [91]:
vol(10)

4186.666666666667

In [92]:
s= 'This is a Normal STRING for checking UP and Lower letters'
d= s.split()

In [93]:
d

['This',
 'is',
 'a',
 'Normal',
 'STRING',
 'for',
 'checking',
 'UP',
 'and',
 'Lower',
 'letters']

In [94]:
def up_low(s):
    x=0
    y=0
    for c in s:
        if c.isupper():
            x+=1
        else:
            y+=1
    print(x)
    print(y)

In [95]:
s= 'This is a Normal STRING for checking UP and Lower case letters'
up_low(s)

11
51

In [96]:
l = [1,2,3,4,5]
    
i=l[0]*l[1]*l[2]*l[3]*l[4]

print(i)

120

In [97]:
def mul(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total

In [98]:
mul([1,2,3,4])

24

In [100]:
class Car():
    
    def __init__(self,brand,model,year):
        self.brand=brand
        self.model=model
        self.year=year
    def speed(self):
        year=self.year
        return year*2.2/10
    
    
car1=Car('honda','coupe',2007)
print('{} {}'.format(car1.year,car1.brand))

car1.speed()

2007 honda

441.5400000000001

In [101]:
class Car():
    def __init__(self,year,color):
        self.color =color
        self.year =year
        
        if year<=2000:
            self.speed = 'Speed of the car is '+str((year*2)/34)+' kmph'
        elif year<=2005:
            self.speed = 'Speed of the car is '+(year*2)/17+' kmph'
        elif year>=2005:
            self.speed = 'Speed of the car is '+str((year*2)/10)+' kmph'
            
    def price(self):
        self.price = 'Price of the car is $'+str(self.year*17)
        return self.price

    
car1= Car(2056,'black')
print(car1.speed)

print(car1.price())

Speed of the car is 411 kmph
Price of the car is $34952

In [102]:
mylist = [10,20,30];
print([1,3,4,66,'{}' .format(mylist)])

[1, 3, 4, 66, '[10, 20, 30]']

In [104]:
a=str(55)

In [105]:
a

'55'

In [109]:
5+a

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [110]:
'5'+a

'555'

In [115]:
a=int
a='hi'

In [116]:
a

'hi'

In [118]:
b=44
a+b

TypeError: cannot concatenate 'str' and 'int' objects

In [145]:
class Employee:
    def __init__(self,first,last,phno):
        self.first= first
        self.last= last
        self.phno= phno
        self.email= first+'.'+last+'@company.com'
        
emp1=Employee('Sachin','pada',2341124511)
emp2=Employee('Rohit','Sharma',2882888289)
print('{} {}' .format(emp1.first ,emp1.last))
print(emp1.email)
print(emp1.phno)
print()
print('{} {}' .format(emp2.first ,emp2.last))
print(emp2.email)
print(emp2.phno)

Sachin pada
Sachin.pada@company.com
2341124511

Rohit Sharma
Rohit.Sharma@company.com
2882888289

In [142]:
class Employee:
    def __init__(self,first,last,phno):
        self.first= first
        self.last= last
        self.phno= phno
        self.email= first+'.'+last+'@company.com'
    
    def details(self):
        print('Employee full name is:', '{} {}' .format(self.first ,self.last))
        print('Ph.No:', self.phno)
        print('E-mail:', self.email)

In [143]:
emp1=Employee('Sri','Pada',2341124511)
emp2=Employee('Rohit','Sharma',2882888289)

In [144]:
emp1.details()

Employee full name is: Sri Pada
Ph.No: 2341124511
E-mail: Sri.Pada@company.com